@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'antd/dist/antd.min.css';

:root {
    --primary-color: #9255fd;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    display: flex;
    width: 32px;
    height: 32px;
    margin: 0 1px;
    font-size: 24px;
    border: 1px #fff solid;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
